# Node.js dependencies
node_modules/

# Playwright output
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Ignore all .env* files...
.env*

# ...but keep .env.dev
!.env.dev

# Ignore encrypted utility script
utils/encrypt-env-value.ts
